---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import type { BlogPost } from "../../utils/interfaces/Blog";
import { dateFormat } from "../../utils/formatters/dateFormat";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post: BlogPost) => ({
        params: { slug: post.slug },
        props: post,
    }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title="David Cuéllar - Blog">
    <h1 class="text-3xl font-extrabold mb-2 mt-12">{post.data.title}</h1>
    <p class="mb-10">{dateFormat(post.data.pubDate)} • {post.data.readingTime}</p>
    <article>
        <Content />
    </article>
</Layout>

<style>
    article h1 {
        @apply text-3xl;
    }
</style>
