---
import Layout from "../layouts/Layout.astro";
import MoreButton from "../components/MoreButton.astro";
---

<Layout title="David Cu칠llar - Sobre m칤">
    <h1 class="text-3xl font-extrabold mb-2 text1">Hola, soy David 游녦游낖</h1>
    <hr class="mb-6 opacity-25" />
    <section>
        <p>
            Un desarrollador con una s칩lida experiencia en el desarrollo web full stack. Mi enfoque principal est치 en JavaScript,
            utilizando frameworks como Angular en el frontend y NestJS en el backend para construir aplicaciones robustas y eficientes. Me apasiona
            resolver problemas complejos con soluciones elegantes y pr치cticas.
        </p>
        <p>
            Mi filosof칤a es que el c칩digo debe ser claro, eficiente y adaptable. Creo en el poder de una buena planificaci칩n y en la colaboraci칩n
            efectiva para obtener los mejores resultados. Fuera del desarrollo, me dedico a compartir conocimientos en YouTube, donde hablo sobre todo
            lo relacionado con la programaci칩n web.
        </p>
        <h2 class="text-2xl text3 font-bold">쯈u칠 hago?</h2>
        <p>
            Actualmente me encuentro trabajando como desarrollador para GoldenSoft S.L. donde me dedico al mantenimiento y desarrollo de diferentes
            proyectos de gesti칩n empresarial (CRM-ERP). Tambi칠n desarrollo proyectos para particulares como freelance.
        </p>
        <p>
            Si tienes alguna idea en mente no dudes en contactarme en el apartado de contacto o escribi칠ndome directamente por mail o por Twitter
            d칩nde suelo estar bastante activo.
        </p>
        <h2 class="text-2xl text3 font-bold">쯈uieres saber m치s?</h2>
        <p>
            He a침adido un apartado en el que te cuento algunas cosas m치s sobre m칤. All칤 podr치s descubrir algunas de mis fortalezas, debilidades y
            algunas curiosidades m치s sobre mi.
        </p>
    </section>
    <MoreButton class="mt-[-20px]" href="/more-about">M치s sobre m칤</MoreButton>
</Layout>

<style>
    p {
        @apply mb-7;
    }
</style>
