---
import Layout from "../layouts/Layout.astro";
import MoreButton from "../components/MoreButton.astro";
---

<Layout title="David Cuéllar - Sobre mí">
    <h1 class="text-3xl font-extrabold mb-6">Hola, soy David 👋🏼</h1>
    <section class="text-lg">
        <p>
            Desarrollador full stack con base en Madrid, aunque mi mente está repartida entre varias realidades
            paralelas (gracias, internet). Llevo 8 años combatiendo bugs, construyendo soluciones y tratando de escribir
            código que no me haga querer viajar en el tiempo para arreglarlo la semana siguiente. Trabajo con vbNet en
            escritorio y con lo último en el mundo JavaScript en la web: Angular para el frontend y NestJS y Express en
            el backend. Mi superpoder es escribir un código increíble... solo para darme cuenta de que, en cuestión de
            días, ya puedo hacerlo mejor (la maldición del crecimiento constante, ¿verdad?).
        </p>
        <p>
            Mi camino como desarrollador empezó cuando era adolescente, trasteando con páginas web y servidores mientras
            seguía tutoriales de YouTube. Aún no me ha picado ninguna araña radioactiva, pero Spiderman sigue siendo mi
            superhéroe favorito. A día de hoy, me considero un full stack developer con una ligera inclinación hacia el
            lado oscuro del backend.
        </p>
        <p>
            Actualmente trabajo en GoldenSoft S.L., desarrollando software de gestión empresarial y, de vez en cuando,
            me embarco en proyectos freelance para seguir alimentando mi caos creativo. Aunque todavía no he lanzado mi
            propio CRM, está en mi lista de ideas locas que algún día verán la luz.
        </p>
        <p>
            Mi filosofía es simple: "si la solución parece demasiado complicada, probablemente lo sea". Soy un ferviente
            defensor de las buenas prácticas de programación, porque ya sabes, siempre hay un psicópata potencial que
            podría tener que mantener tu código algún día. ¡Gracias por el consejo, Martin Golding! 😅
        </p>
        <p>
            ¿Mi futuro? La web y el cloud. Estoy siempre en busca de nuevas tecnologías y tendencias que me permitan
            crear aplicaciones más potentes, más rápidas y más épicas.
        </p>
        <p>
            Si buscas a alguien que pueda saltar entre tecnologías como Spiderman entre edificios y que siempre esté un
            paso adelante en su propio código, ¡aquí estoy!
        </p>
    </section>
    <MoreButton class="mt-[-20px]" href="/more-about">Más sobre mí</MoreButton>
</Layout>

<style>
    p {
        @apply mb-7;
    }
</style>
