---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
import ContactForm from "../components/ContactForm.astro";
import Link from "../components/Link.astro";
---

<Layout title="David Cuéllar • Contacto">
  <PageTitle>Conectemos</PageTitle>
  <h2 class="text-2xl text-center text2">Gracias por tomarte el tiempo de comunicarte conmigo</h2>
  <h2 class="text-2xl text-center text2">¿Cómo te puedo ayudar?</h2>

  <ContactForm />

  <p class="text-center mt-10 text-pretty text1">
    Shhh 🤫, no se lo digas a nadie, pero también puedes escribirme directamente <Link href="mailto:contacto@davidcuellar.com">aquí</Link>
  </p>
</Layout>
