---
import Layout from "../layouts/Layout.astro";
import SocialLink from "../components/SocialLink.astro";
import Twitter from "../components/icons/Twitter.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Github from "../components/icons/Github.astro";
import Youtube from "../components/icons/Youtube.astro";
import MoreButton from "../components/MoreButton.astro";
import PostResume from "../components/PostResume.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

const posts = (await getCollection("blog"))
  // .filter((_: CollectionEntry<"blog">, i: number) => i < 5)
  .sort((a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<Layout title="David Cuéllar - Programador y desarrollador web con javascript">
  <section class="flex flex-col justify-center items-center md:flex-row my-12 md:my-24 overflow-hidden m-auto">
    <Image class="rounded-full mb-8 mt-3 md:mb-0" src="/images/me.png" alt="David Cuéllar - Fotografía personal" loading="eager" width="142" height="142" />
    <div class="md:ml-16 flex flex-col">
      <span class="text-4xl font-bold block text1">Hola, soy David.</span>
      <font class="text-4xl text2">Desarrollador de soluciones web</font>
      <nav class="flex flex-col justify-center items-start md:justify-start sm:flex-row mt-8 md:mt-4">
        <SocialLink text="Linkedin" link="https://www.linkedin.com/in/devcuellar" class="text2 hover:text-[#1DA1F2] dark:hover:text-[#1DA1F2] hover:scale-90 mb-3 md:mb-0">
          <Linkedin class="mr-3 md:mr-1 text-[#0077B5]" />
        </SocialLink>
        <SocialLink text="Github" link="https://github.com/devcuellar" class="text2 sm:ml-7 hover:text-[#444242] dark:hover:text-[#444242] hover:scale-90 mb-3 md:mb-0">
          <Github class="mr-3 md:mr-1 text-[#444242]" />
        </SocialLink>
        <SocialLink text="Twitter" link="https://x.com/DevCuellar_" class="text2 sm:ml-7 hover:text-[#0077B5] dark:hover:text-[#0077B5] hover:scale-90 mb-3 md:mb-0">
          <Twitter class="mr-3 md:mr-1 text-[#1DA1F2]" />
        </SocialLink>
        <SocialLink text="Youtube" link="https://www.youtube.com/@devcuellar" class="text2 sm:ml-7 hover:text-[#FF0000] dark:hover:text-[#FF0000] hover:scale-90 mb-3 md:mb-0">
          <Youtube class="mr-3 md:mr-1 text-[#FF0000]" />
        </SocialLink>
      </nav>
    </div>
  </section>
  <section>
    <h2 class="text-xl font-bold text1">ÚLTIMAS ENTRADAS</h2>

    {posts.map((post: any) => <PostResume post={post} />)}

    <MoreButton class="mt-[-35px]" href="/blog">Leer más artículos</MoreButton>
  </section>
</Layout>
