---
import Layout from "../layouts/Layout.astro";
import SocialLink from "../components/SocialLink.astro";
import Twitter from "../components/icons/Twitter.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Github from "../components/icons/Github.astro";
import Youtube from "../components/icons/Youtube.astro";
---

<Layout title="David Cuéllar - Programador y desarrollador web con javascript">
    <section class="flex flex-col justify-center items-center md:flex-row my-12 md:my-24 overflow-hidden m-auto">
        <img
            class="rounded-full size-[142px] mb-8 mt-3 md:mb-0"
            src="https://pbs.twimg.com/profile_images/1831943359318880256/OmF7o0Gr_400x400.jpg"
        />
        <div class="md:ml-16 flex flex-col">
            <span class="text-4xl font-extrabold block">Hola 👋, soy David. </span>
            <font class="text-4xl font-extrabold text-slate-700 dark:text-slate-400"
                >Desarrollador de soluciones web</font
            >
            <nav class="flex flex-col justify-center items-start md:justify-start sm:flex-row mt-8 md:mt-4 text-lg">
                <SocialLink
                    text="Linkedin"
                    link="www.youtube.com"
                    class="text-slate-700 dark:text-slate-400 hover:text-[#1DA1F2] dark:hover:text-[#1DA1F2] hover:scale-110 mb-3 md:mb-0"
                >
                    <Linkedin class="mr-3 md:mr-1 text-[#0077B5]" />
                </SocialLink>
                <SocialLink
                    text="Github"
                    link="www.youtube.com"
                    class="text-slate-700 dark:text-slate-400 sm:ml-7 hover:text-[#444242] dark:hover:text-[#444242] hover:scale-110 mb-3 md:mb-0"
                >
                    <Github class="mr-3 md:mr-1 text-[#444242]" />
                </SocialLink>
                <SocialLink
                    text="Twitter"
                    link="www.youtube.com"
                    class="text-slate-700 dark:text-slate-400 sm:ml-7 hover:text-[#0077B5] dark:hover:text-[#0077B5] hover:scale-110 mb-3 md:mb-0"
                >
                    <Twitter class="mr-3 md:mr-1 text-[#1DA1F2]" />
                </SocialLink>
                <SocialLink
                    text="Youtube"
                    link="www.youtube.com"
                    class="text-slate-700 dark:text-slate-400 sm:ml-7 hover:text-[#FF0000] dark:hover:text-[#FF0000] hover:scale-110 mb-3 md:mb-0"
                >
                    <Youtube class="mr-3 md:mr-1 text-[#FF0000]" />
                </SocialLink>
            </nav>
        </div>
    </section>
    <section>
        <h2 class="text-xl font-bold">ÚLTIMAS ENTRADAS</h2>

        <article class="mt-9 mb-12">
            <header>
                <h2 class="text-2xl text-black dark:text-white dark:hover:text-blue-500 hover:text-blue-800">
                    <a href="#">🎉 Mi primer post es un placeholder</a>
                </h2>
            </header>
            <p class="my-3 font-bold text-l">10 de agosto de 2024</p>
            <div>
                <p class="text-xl">
                    ¡Hola a todos y bienvenidos a mi blog! Este es un momento emocionante para mí, ya que finalmente he
                    decidido lanzar este espacio para compartir mis pensamientos, experiencias y aprendizajes con todos
                    ustedes...
                </p>
            </div>
        </article>
        <article class="mt-9 mb-12">
            <header>
                <h2 class="text-2xl text-black dark:text-white dark:hover:text-blue-500 hover:text-blue-800">
                    <a href="#">🎉 Mi segundo post también es un placeholder</a>
                </h2>
            </header>
            <p class="my-3 font-bold text-l">10 de agosto de 2024</p>
            <div>
                <p class="text-xl">
                    ¡Hola a todos y bienvenidos a mi blog! Este es un momento emocionante para mí, ya que finalmente he
                    decidido lanzar este espacio para compartir mis pensamientos, experiencias y aprendizajes con todos
                    ustedes...
                </p>
            </div>
        </article>
        <h3 class="text-xl mt-[-35px] dark:text-blue-500 text-blue-800">
            <a href="#" class="hover:bg-blue-300/50 dark:hover:bg-blue-300/20 p-1 rounded-xl">Leer más artículos →</a>
        </h3>
    </section>
</Layout>
