---
import Layout from "../layouts/Layout.astro";
---

<Layout title="David Cuéllar - Más sobre mí">
    <h1 class="text-3xl font-extrabold mb-6">Más sobre mí</h1>
    <p>En este espacio podrás obtener mas información sobre mí y como me desenvuelvo en un ambiente laboral</p>

    <h2><span role="img">🏠</span>DESCRIPCIÓN GENERAL</h2>
    <ul>
        <li>
            INTJ-A Myers-Briggs: Introverted, Intuitive, Thinking, Judging, and Assertive. I think this description is a
            solid one.
        </li>
        <li>
            5-3-1 Enneagram: Investigator, Achiever, and Perfectionist. "Remarkably efficient, hard-working and
            competent, although a little bit anal. While sometimes self-righteous and impatient with others, they are
            pragmatic and tactful enough not to compromise their goals by being too inflexible. Can be clever,
            self-confident, perfectionist, arrogant and glacial." Yikes.
        </li>
    </ul>
    <h2><span role="img">👍🏼</span>FORTALEZAS</h2>
    <ul>
        <li>
            INTJ-A Myers-Briggs: Introverted, Intuitive, Thinking, Judging, and Assertive. I think this description is a
            solid one.
        </li>
        <li>
            5-3-1 Enneagram: Investigator, Achiever, and Perfectionist. "Remarkably efficient, hard-working and
            competent, although a little bit anal. While sometimes self-righteous and impatient with others, they are
            pragmatic and tactful enough not to compromise their goals by being too inflexible. Can be clever,
            self-confident, perfectionist, arrogant and glacial." Yikes.
        </li>
    </ul>
    <h2><span role="img">👎🏼</span>DEBILIDADES</h2>
    <ul>
        <li>
            INTJ-A Myers-Briggs: Introverted, Intuitive, Thinking, Judging, and Assertive. I think this description is a
            solid one.
        </li>
        <li>
            5-3-1 Enneagram: Investigator, Achiever, and Perfectionist. "Remarkably efficient, hard-working and
            competent, although a little bit anal. While sometimes self-righteous and impatient with others, they are
            pragmatic and tactful enough not to compromise their goals by being too inflexible. Can be clever,
            self-confident, perfectionist, arrogant and glacial." Yikes.
        </li>
    </ul>
    <h2><span role="img">🛠️</span>PRINCIPIOS</h2>
    <ul>
        <li>
            INTJ-A Myers-Briggs: Introverted, Intuitive, Thinking, Judging, and Assertive. I think this description is a
            solid one.
        </li>
        <li>
            5-3-1 Enneagram: Investigator, Achiever, and Perfectionist. "Remarkably efficient, hard-working and
            competent, although a little bit anal. While sometimes self-righteous and impatient with others, they are
            pragmatic and tactful enough not to compromise their goals by being too inflexible. Can be clever,
            self-confident, perfectionist, arrogant and glacial." Yikes.
        </li>
    </ul>
    <h2><span role="img">📚</span>LIBROS FAVORITOS</h2>
    <ul>
        <li>
            INTJ-A Myers-Briggs: Introverted, Intuitive, Thinking, Judging, and Assertive. I think this description is a
            solid one.
        </li>
        <li>
            5-3-1 Enneagram: Investigator, Achiever, and Perfectionist. "Remarkably efficient, hard-working and
            competent, although a little bit anal. While sometimes self-righteous and impatient with others, they are
            pragmatic and tactful enough not to compromise their goals by being too inflexible. Can be clever,
            self-confident, perfectionist, arrogant and glacial." Yikes.
        </li>
    </ul>
    <h2><span role="img">🙏🏼</span>FRASE FAVORITA</h2>
    <ul>
        <li>
            INTJ-A Myers-Briggs: Introverted, Intuitive, Thinking, Judging, and Assertive. I think this description is a
            solid one.
        </li>
        <li>
            5-3-1 Enneagram: Investigator, Achiever, and Perfectionist. "Remarkably efficient, hard-working and
            competent, although a little bit anal. While sometimes self-righteous and impatient with others, they are
            pragmatic and tactful enough not to compromise their goals by being too inflexible. Can be clever,
            self-confident, perfectionist, arrogant and glacial." Yikes.
        </li>
    </ul>
    <h2><span role="img">📲</span>CONTACTA CONMIGO</h2>
    <ul>
        <li>
            INTJ-A Myers-Briggs: Introverted, Intuitive, Thinking, Judging, and Assertive. I think this description is a
            solid one.
        </li>
        <li>
            5-3-1 Enneagram: Investigator, Achiever, and Perfectionist. "Remarkably efficient, hard-working and
            competent, although a little bit anal. While sometimes self-righteous and impatient with others, they are
            pragmatic and tactful enough not to compromise their goals by being too inflexible. Can be clever,
            self-confident, perfectionist, arrogant and glacial." Yikes.
        </li>
    </ul>
</Layout>

<style>
    h2 {
        @apply mt-10 mb-2 text-xl font-bold;

        span {
            @apply mr-2;
        }
    }

    ul {
        @apply list-disc pl-9;
        li {
            @apply mb-2;
        }
    }
</style>
