---
import Layout from "../layouts/Layout.astro";
---

<Layout title="David Cuéllar - Más sobre mí">
    <h1 class="text-3xl font-extrabold mb-2 text1">Más sobre mí</h1>
    <hr class="mb-6 opacity-25" />
    <p>En este espacio podrás obtener mas información sobre mí y como me desenvuelvo en un ambiente laboral</p>

    <h2 class="pb-2"><span role="img">🏠</span>DESCRIPCIÓN GENERAL</h2>
    <p class="mb-3">
        Mi personalidad según el test de <a href="https://www.16personalities.com/es/personalidad-intj" target="_blank" class="visible-link"
            >16personalities</a
        > es Arquitecto (INTJ), y creo que me resume bastante bien:
    </p>
    <ul>
        <li>
            Poseo una rara combinación de visión y pragmatismo. Mi mente analítica busca constantemente entender el mundo que me rodea, impulsada por
            una curiosidad insaciable y un deseo de mejorar sistemas e ideas. Abordo la vida con una mentalidad estratégica, siempre mirando varios
            pasos adelante y planificando para diversas contingencias.
        </li>
        <li>
            Mi naturaleza independiente es una de mis características definitorias. Valoro mi autonomía y a menudo prefiero trabajar solo, confiando
            en mi propio juicio y habilidades por encima de todo. Esta autosuficiencia, combinada con mi destreza intelectual, me permite abordar
            problemas complejos con confianza e innovación.
        </li>
    </ul>
    <h2 class="pb-2"><span role="img">👍🏼</span>FORTALEZAS</h2>
    <ul>
        <li><strong>Versatilidad:</strong> Puedo trabajar con cualquier tecnología que se me presente.</li>
        <li><strong>Aprendizaje Rápido:</strong> No me cuesta adaptarme a nuevas herramientas y enfoques.</li>
        <li><strong>Adaptabilidad:</strong> Estoy cómodo adoptando nuevas formas de trabajo y cambiando de rumbo cuando es necesario.</li>
    </ul>
    <h2 class="pb-2"><span role="img">👎🏼</span>DEBILIDADES</h2>
    <ul>
        <li><strong>Perdido en los Detalles:</strong> A veces me concentro demasiado en los detalles y pierdo de vista el panorama general.</li>
        <li><strong>Análisis Excesivo:</strong> Mi naturaleza analítica puede ralentizar la toma de decisiones y la acción.</li>
        <li>
            <strong>Dificultad para Decir "No":</strong> Acepto más responsabilidades de las que a veces puedo manejar, lo que puede llevarme a una carga
            excesiva de trabajo.
        </li>
    </ul>
    <h2 class="pb-2"><span role="img">🛠️</span>PRINCIPIOS</h2>
    <ul>
        <li>
            <strong>Mentalidad de Crecimiento:</strong> Siempre busco mejorar y desafiarme a mí mismo. La comodidad me hace sentir que mi trabajo y felicidad
            están en riesgo.
        </li>
        <li>
            <strong>Tiempo para la Reflexión:</strong> Reservo momentos para explorar ideas que no siempre están relacionadas con mis proyectos actuales.
            Sin este tiempo, me siento como una máquina.
        </li>
        <li><strong>Hazlo Simple:</strong> Aunque a veces es necesario profundizar, prefiero mantener las cosas simples siempre que sea posible.</li>
        <li>
            <strong>Las Opiniones son Útiles:</strong> Tanto las personas como los productos deben tener opiniones. Tomar una postura ayuda a avanzar en
            la conversación.
        </li>
        <li>
            <strong>Aprendizaje en Público:</strong> Encuentro satisfacción al compartir conocimientos útiles a través de publicaciones y contenido.
        </li>
    </ul>
    <h2 class="pb-2"><span role="img">📚</span>LIBROS FAVORITOS</h2>
    <p>Estos son algunos de los libros que mas me han influenciado en mi ámbito profesional:</p>
    <br />
    <ul>
        <li><strong>"Cómo ganar amigos e influir sobre las personas"</strong> – Dale Carnegie</li>
        <li><strong>"Los 7 hábitos de la gente altamente efectiva"</strong> – Stephen R. Covey</li>
        <li><strong>"El monje que vendió su Ferrari"</strong> – Robin Sharma</li>
    </ul>
    <h2 class="pb-2"><span role="img">🙏🏼</span>CITA FAVORITA</h2>
    <blockquote class="p-4 my-4 border-s-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800">
        <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white text-pretty">
            "La única forma de hacer un gran trabajo es amando lo que haces." — <a
                href="https://youtu.be/UF8uR6Z6KLc?si=itawaxL9Hvig6JZi&t=514"
                target="_blank"
                rel="noopener noreferrer"
                class="visible-link">Steve Jobs</a
            >
        </p>
    </blockquote>
</Layout>

<style>
    h2 {
        @apply mt-10 mb-2 text-xl font-bold;

        span {
            @apply mr-2;
        }
    }

    ul {
        @apply list-disc pl-9;
        li {
            @apply mb-2;
        }
    }
</style>
