---
import Twitter from "../components/icons/Twitter.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Github from "../components/icons/Github.astro";
import Youtube from "../components/icons/Youtube.astro";
---

<footer class="pt-20 pb-14 absolute bottom-0 w-full">
    <div class="max-w-md w-11/12 mx-auto md:max-w-3xl md:mx-auto flex justify-between items-center">
        © David Cuéllar
        <nav class="flex justify-between items-center">
            <Linkedin class="size-6 mr-3" />
            <Github class="size-6 mr-3" />
            <Twitter class="size-6 mr-3" />
            <Youtube class="size-6" />
        </nav>
    </div>
</footer>
