<!-- https://docs.astro.build/en/recipes/tailwind-rendered-markdown/ --><!-- https://github.com/tailwindlabs/tailwindcss-typography -->
<div
    class="prose-lg dark:prose-invert prose-h2:text-2xl
 prose-h2:text-stone-800 dark:prose-h2:text-stone-200
 prose-p:text-stone-700 dark:prose-p:text-stone-300
 prose-a:text-blue-700 dark:prose-a:text-blue-500
 hover:prose-a:text-blue-800 dark:hover:prose-a:text-blue-600"
>
    <slot />
</div>
