---
const { text, link } = Astro.props;
---

<div {...Astro.props}>
    <a href={link} target="_blank" rel="noopener noreferrer" class="flex justify-center items-center"><slot /> {text}</a
    >
</div>
